@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
}

:root{
  --primary-background: #090608;
  --secondary-background: #000000;
  --bg-3: #383b38;
  --text-0: #a57d0d;
  --text-1: #87A4B6;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-background);
  overflow-x: hidden;
}

.text-0 {
  color: var(--text-0);
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.container {
  max-width: 1300px;
  margin: 0px auto 0px auto;
  padding: 0px 40px;
}
@media (min-width: 1200px) and (max-width: 1441px) {
  .container {
    max-width: 1250px;
    padding: 0px 36px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0px 30px;
  }
}
@media (max-width: 479px) {
  .container {
    padding: 0px 30px 0px 20px;
  }
}

.main {
  padding-top: 50px;
  background-color: var(--secondary-background);
  padding-bottom: 50px;
}
.main .container {
  position: relative;
}
.main .container .nav-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
}
.main .container .nav-container .logo {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
}
.main .container .nav-container .links-container a {
  text-decoration: none;
  color: var(--text-1);
  font-weight: 800;
  font-size: 20px;
  margin: 0px 30px;
  transition: all 0.2s ease-out;
  display: inline-block;
}
.main .container .nav-container .links-container a:hover {
  color: var(--text-0);
  transform: scale(2);
}
.main .container .social-media-links-container {
  height: 380px;
  width: 100px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.main .container .social-media-links-container .icons-cotainer {
  width: 100%;
  height: 275px;
  background-color: var(--primary-background);
  padding-top: 1px;
}
.main .container .social-media-links-container .icons-cotainer img {
  display: block;
  margin: 40px auto;
  height: 20px;
  width: 20px;
  transition: transform 0.2s ease-out;
}
.main .container .social-media-links-container .icons-cotainer img:hover {
  filter: invert(56%) sepia(42%) saturate(4795%) hue-rotate(360deg) brightness(103%) contrast(105%);
  transform: scale(1.5);
}
.main .container .social-media-links-container .follow-me {
  position: absolute;
  bottom: 0px;
  writing-mode: vertical-rl;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px 0px;
  background-color: var(--text-0);
}

.mail-button1 {
  transform-origin: bottom center;
  animation: mail-button 2s ease-in;
}

@keyframes mail-button {
  0% {
    transform: translateY(-850%);
  }
  50% {
    transform: translateY(-850%);
  }
  65% {
    transform: translateY(0%);
  }
  66% {
    transform: scale(1.1, 0.5);
  }
  80% {
    transform: scale(0.5, 1.1);
  }
  85% {
    transform: scale(0.9, 1);
  }
  90% {
    transform: scale(1, 1);
  }
}
#social-media-links-container {
  transform-origin: bottom center;
  transform: translateX(250%) rotate(0deg);
  animation: social-media-links-load 1s ease-in-out 1s;
  animation-fill-mode: forwards;
}

@keyframes social-media-links-load {
  0% {
    transform: translateX(250%) rotate(90deg);
  }
  65% {
    transform: translatex(0%) rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  85% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg) translateX(0%);
  }
}
.links-container a {
  transform-origin: center right;
  transform: translateX(-2000%);
  animation: nav-links-animation 2s ease-in-out;
  animation-fill-mode: forwards;
}
.links-container a:nth-child(3) {
  animation-delay: 0.5s;
}
.links-container a:nth-child(2) {
  animation-delay: 0.6s;
}
.links-container a:nth-child(1) {
  animation-delay: 0.7s;
}

.nav-container .logo {
  transform-origin: center right;
  transform: translateX(-500%);
  animation: nav-links-animation 2s ease-in-out 0.8s;
  animation-fill-mode: forwards;
}

@keyframes nav-links-animation {
  0% {
    transform: translateX(-2000%);
  }
  50% {
    transform: translateX(-2000%);
  }
  65% {
    transform: translateX(0%);
  }
  66% {
    transform: scale(1.1, 0.5);
  }
  80% {
    transform: scale(0.5, 1.1);
  }
  85% {
    transform: scale(0.9, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
.showcase-container {
  display: flex;
  max-width: 80%;
  justify-content: space-between;
  align-items: center;
}
.showcase-container .showcase-image {
  flex-basis: 50%;
  height: 500px;
}
.showcase-container .showcase-image img {
  -o-object-fit: contain;
     object-fit: contain;
}
.showcase-container .showcase-image model-viewer {
  width: 90%;
  height: 100%;
}
.showcase-container .showcase-text {
  flex-basis: 40%;
  color: #ffffff;
  font-size: 25px;
  max-width: 480px;
  font-size: 22px;
}
.button-container{
  display: flex;
      flex-direction: row;
      column-gap: 50px;
      justify-content: center;
}
.showcase-container .showcase-text .button-container .download-resume,
.showcase-container .showcase-text .button-container .hire {
  margin-top: 50px;
  background: var(--text-0);
  color: var(--secondary-background);
  display: inline-block;
  padding: 20px 30px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 900;
  text-align: center;
  border-left: 5px solid var(--bg-3);
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
}
.showcase-container .showcase-text .download-resume:hover {
  color: var(--text-0);
  background: var(--bg-3);
  border-left: 10px solid var(--text-0);
}
@media (max-width: 960px) {
  .showcase-container {
    padding: 50px 0px;
    max-width: 100%;
  }
  .showcase-container .showcase-text {
    flex-basis: 45%;
  }
}
@media (max-width: 800px) {
  .showcase-container {
    max-width: 100%;
  }
  .showcase-container .showcase-text {
    font-size: 20px;
  }
}
@media (max-width: 680px) {
  .showcase-container {
    display: block;
    padding: 0px 0px 50px 0px;
  }
  .showcase-container .showcase-image {
    margin: auto;
    width: 100%;
    height: 300px;
  }
  .showcase-container .showcase-text {
    margin: auto;
    font-size: 20px;
    text-align: center;
  }
}
.showcase-container .showcase-image {
  transform-origin: bottom center;
  transform: translateY(-500%);
  animation: showcase-image-animation 1s ease-in-out;
  animation-fill-mode: forwards;
}
.showcase-container .showcase-text {
  transform-origin: bottom center;
  transform: translateY(-500%);
  animation: showcase-image-animation 1s ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes showcase-image-animation {
  0% {
    transform: translateY(-500%);
  }
  50% {
    transform: translateY(-500%);
  }
  65% {
    transform: translateY(0%);
  }
  66% {
    transform: scale(1.1, 0.5);
  }
  80% {
    transform: scale(0.5, 1.1);
  }
  85% {
    transform: scale(0.9, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@media (max-width: 960px) {
  .main .container .nav-container {
    max-width: 100%;
  }
  .main .container .nav-container .links-container a {
    margin: 10px;
  }
  .main .container .social-media-links-container {
    z-index: 999;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    right: 0px;
    top: unset;
    height: auto;
    width: auto;
    border-top-left-radius: 25px;
    box-shadow: rgb(252 0 68) 0px 0px 10px 0px;
  }
  .main .container .social-media-links-container .icons-cotainer {
    display: flex;
    gap: 15px;
    height: auto;
    background-color: var(--text-0);
    padding: 0px 25px;
  }
  .main .container .social-media-links-container .icons-cotainer img {
    margin: 10px auto;
    height: 25px;
    width: 25px;
    filter: invert(1);
    filter: brightness(0);
  }
  .main .container .social-media-links-container .follow-me {
    display: none;
  }
}
@media (max-width: 680px) {
  .main {
    padding-top: 100px;
  }
  .main .container .nav-container {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    backdrop-filter: blur(20px);
    width: 100%;
    padding: 20px;
  }
  .main .container .nav-container .logo {
    font-size: 20px;
  }
  .main .container .nav-container .links-container {
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: fixed;
    top: 30px;
    right: 5px;
  }
  .main .container .nav-container .links-container a {
    writing-mode: vertical-rl;
    margin: 0px;
  }
}
.mail-button {
  display: flex;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding: 15px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}
.mail-button a {
  display: flex;
}
.mail-button img {
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.2s ease-out;
}

.mail-button1 {
  background-color: var(--text-0);
  position: absolute;
  bottom: -75px;
  right: 15px;
  border: 10px solid var(--secondary-background);
}
@media (max-width: 700px) {
  .mail-button1 {
    right: 25px;
  }
}
.mail-button1:hover {
  background-color: var(--secondary-background);
}
.mail-button1:hover img {
  filter: invert(56%) sepia(42%) saturate(4795%) hue-rotate(360deg) brightness(103%) contrast(105%);
  transform: scale(1.5);
}

.mail-button2 {
  background-color: var(--secondary-background);
  position: absolute;
  bottom: 0;
  left: 0;
  border: 10px solid var(--secondary-background);
}
.mail-button2 img {
  filter: invert(56%) sepia(42%) saturate(4795%) hue-rotate(360deg) brightness(103%) contrast(105%);
}
.mail-button2:hover {
  background-color: var(--text-0);
  border: 10px solid var(--text-0);
}
.mail-button2:hover img {
  filter: unset;
  transform: scale(1.5);
}

.about-me {
  padding: 50px 0px;
}
.about-me .about-me-container {
  position: relative;
}
@media (max-width: 960px) {
  .about-me .about-me-container {
    padding-bottom: 100px;
  }
}
.about-me .about-me-container .about-me-title {
  font-size: 55px;
  color: var(--text-1);
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  display: inline;
}
.about-me .about-me-container .about-me-title:hover {
  letter-spacing: 5px;
}
@media (max-width: 500px) {
  .about-me .about-me-container .about-me-title {
    font-size: 30px;
  }
}

.about-me-flex-container {
  margin-top: 25px;
  margin-left: 150px;
  left: 100px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 960px) {
  .about-me-flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    gap: 50px;
  }
}
@media (max-width: 500px) {
  .about-me-flex-container {
    margin-top: 50px;
  }
}
.about-me-flex-container .about-me-image {
  position: relative;
  width: 400px;
  height: 400px;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 500px) {
  .about-me-flex-container .about-me-image {
    width: 300px;
    height: 300px;
  }
}
.about-me-flex-container .about-me-image .back-div {
  position: absolute;
  bottom: 0;
  z-index: -3;
  background-color: var(--secondary-background);
  width: 80%;
  height: 100%;
  opacity: 0.9;
  animation: hover 5s ease-in-out infinite;
}
.about-me-flex-container .about-me-image .black-image {
  z-index: -2;
  position: absolute;
  left: 20px;
  bottom: 20px;
  height: 100%;
  opacity: 0.9;
  animation: hover 5s ease-in-out infinite 0.5s;
}
.about-me-flex-container .about-me-image .black-image img {
  height: 100%;
}

.about-me-flex-container .about-me-content {
  display: flex;
  align-items: center;
  gap: 50px;
  flex: 0 0 40%;
}
@media (max-width: 960px) {
  .about-me-flex-container .about-me-content {
    flex-direction: row-reverse;
  }
}
.about-me-flex-container .about-me-content .logo {
  max-width: 200px;
}
.about-me-flex-container .about-me-content .logo img {
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.637));
}
@media (max-width: 500px) {
  .about-me-flex-container .about-me-content .logo img {
    transform: rotateZ(90deg);
  }
}
.about-me-flex-container .about-me-content .text {
  color: var(--text-1);
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 500px) {
  .about-me-flex-container .about-me-content .text {
    font-size: 16px;
  }
}

@keyframes hover {
  50% {
    transform: translateY(20px);
  }
}
.skills {
  padding: 80px 0px;
}
@media (max-width: 700px) {
  .skills {
    padding: 40px 0px;
  }
}
.skills .title-skills {
  font-size: 55px;
  color: var(--text-1);
  font-weight: 700;
  padding-bottom: 50px;
}
@media (max-width: 500px) {
  .skills .title-skills {
    font-size: 30px;
  }
}
.skills .skills-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .skills .skills-flex-container {
    gap: 30px;
  }
}
.skills .skills-flex-container .box {
  flex:   0 0 18%;
  background: var(--secondary-background);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 24px;
  padding: 25px;
  text-align: center;
  border: 10px solid var(--bg-3);
  transition: all 0.3s ease-in;
}
.skills .skills-flex-container .box .image {
  transition: all 0.3s ease-in-out 0.1s;
}
.skills .skills-flex-container .box .image img {
  max-width: 75px;
  -o-object-fit: contain;
     object-fit: contain;
}
.skills .skills-flex-container .box .title {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.skills .skills-flex-container .box:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 20px 20px 30px;
  transform: scale(1.1);
}
.skills .skills-flex-container .box:hover .image {
  transform: scale(1.5) translateY(-20px);
}
.skills .skills-flex-container .box:hover .image img {
  animation: bouncing 0.5s 0.3s;
}
@media (max-width: 1100px) {
  .skills .skills-flex-container .box {
    flex: 0 0 25%;
  }
}
@media (max-width: 630px) {
  .skills .skills-flex-container .box {
    flex: 1 0 35%;
    padding: 15px;
  }
  .skills .skills-flex-container .box .image img {
    max-width: 50px;
  }
}

@keyframes bouncing {
  from, to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.footer {
  background-color: var(--secondary-background);
}
.footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}
.footer .footer-container .logo-footer {
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
@media (max-width: 680px) {
  .footer .footer-container .logo-footer {
   font-size: 20px;
  }
}
.footer .footer-container .footer-social-media-links {
  display: flex;
  gap: 50px;
}
@media (max-width: 680px) {
  .footer .footer-container .footer-social-media-links {
    gap: 10px;
  }
}
.footer .footer-container .footer-social-media-links a {
  display: flex;
}
.footer .footer-container .footer-social-media-links a img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 20px;
  transition: transform 0.2s ease-out;
}
.footer .footer-container .footer-social-media-links a img:hover {
  transform: scale(1.5);
  filter: invert(56%) sepia(42%) saturate(4795%) hue-rotate(360deg) brightness(103%) contrast(105%);
}
.footer .footer-container .footer-nav-links a {
  display: block;
  padding: 5px 0px;
  text-align: right;
  text-decoration: none;
  color: var(--text-1);
  transition: transform 0.2s ease-out;
  transform-origin: right center;
}
.footer .footer-container .footer-nav-links a:hover {
  color: var(--text-0);
  transform: scale(1.5);
}

.contact-me{
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact-me .contact-me-title{
  font-size: 55px;
  color: var(--text-1);
  font-weight: 700;
  padding-bottom: 50px;
}
.form-container {
  width: 100%;
  background-color: var(--secondary-background);
  padding: 30px 30px 30px 0px;
  display: flex;
  border-left: 5px solid var(--text-0);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}
@media (max-width: 1100px) {
  .form-container {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .form-container {
    display: block;
    padding: 30px;
    width: 100%;
  }

}
.form-container .form-image {
  flex-basis: 50%;
}
.form-container .form-image h1 {
  margin-left: 30px;
  color: #ffffff;
  font-weight: 800;
}
@media (max-width: 800px) {
  .form-container .form-image h1 {
    margin-left: 0px;
  }
}
.form-container .form-image model-viewer {
  height: 100%;
  width: 100%;
}
@media (max-width: 800px) {
  .form-container .form-image model-viewer {
    height: 90%;
  }
}
.form-container .form {
  flex-basis: 50%;
}
.form-container .form input {
  color: var(--text-1);
  width: 100%;
  background-color: var(--primary-background);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}
.form-container .form input:focus {
  border-left: 5px solid var(--text-0);
}
.form-container .form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: var(--bg-3);
  color: var(--text-0);
  font-weight: bold;
  font-size: 18px;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}
.form-container .form textarea:focus {
  border-left: 5px solid var(--text-0);
}
.form-container .form .button-container {
  display: flex;
  gap: 10px;
}
.form-container .form .button-container .send-button {
  flex-basis: 70%;
  background: var(--text-0);
  padding: 10px;
  color: var(--secondary-background);
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}
.form-container .form .button-container .send-button:hover {
  background: transparent;
  border: 1px solid var(--text-0);
  color: var(--text-0);
}
.form-container .form .button-container .reset-button-container {
  filter: drop-shadow(1px 1px 0px var(--text-0));
  flex-basis: 30%;
}
.form-container .form .button-container .reset-button-container .reset-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: var(--text-0);
  font-weight: bold;
  background: var(--secondary-background);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
}
.form-container .form .button-container .reset-button-container .reset-button:hover {
  background: var(--text-0);
  color: var(--secondary-background);
}

#loader {
  display: flex;
  height: 100dvh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#loader img {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-background);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-3);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-0);
}/*# sourceMappingURL=style.css.map */